body {
  height: 100vh;
  background: linear-gradient(to top left, #535353, #ffffff);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.window-1-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 15px auto;
  border: 3px solid rgb(68, 68, 68);
  border-radius: 10px;
}
.window-1-p {
  align-self: center;
  flex-grow: 1;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 600;
}
.window-1-b {
  padding: 10px;
  border: none;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(110, 255, 105);
  font-size: 15px;
  font-weight: 500;
}
.window-1-b:hover,
.window-1-b:active {
  background-color: rgb(81, 202, 77);
}

.window-2-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 15px auto;
  border: 3px solid rgb(68, 68, 68);
  border-radius: 10px;
  row-gap: 25px;
  display: none;
}
.window-2-p {
  align-self: center;
  flex-grow: 1;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 600;
}
.window-2-b {
  padding: 10px;
  border: none;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(110, 255, 105);
  font-size: 15px;
  font-weight: 500;
}
.window-2-b:hover,
.window-2-b:active {
  background-color: rgb(81, 202, 77);
}
.window-2-i {
  align-self: center;
  height: 35px;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 5px;
}
.eror {
  position: absolute;
  background-color: rgb(255, 33, 33);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(151, 0, 0);
  font-size: 15px;
  display: none;
}

